<launch>
    <!-- Gazebo world -->
    <node name="gazebo_world" 
        pkg="ros_ign_gazebo" type="ign_gazebo" 
        args="-r world_dynamic.sdf" />

    <!-- Bridge -->
    <node 
        name="ros_ign_bridge" 
        pkg="ros_ign_bridge" type="parameter_bridge" 
        output="screen"
        args="/front_lidar@sensor_msgs/LaserScan@ignition.msgs.LaserScan /model/diff_drive/pose@tf2_msgs/TFMessage@ignition.msgs.Pose_V /cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /rear_lidar@sensor_msgs/LaserScan@ignition.msgs.LaserScan" >
        <remap from="/model/diff_drive/pose" to="/tf" />
    </node>

    <!-- Navigation server -->
    <node name="navigation_server" 
        pkg="diff_drive" type="navigation_server"
        output="screen" >
        <remap from="/cmd_vel" to="/cmd_vel_orig" />  <!-- This line allows the avoider to take control -->
    </node>

    <!-- Navigation client -->
    <node name="navigation_client" 
        pkg="diff_drive" type="navigation_client"
        args="$(find diff_drive)/config/waypoints_dynamic.txt"
        output="screen" >
    </node>

    <!-- Obstacle avoider -->
    <node name="obstacle_avoider" pkg="diff_drive" type="obstacle_avoider" />

    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" 
        args="-d $(find diff_drive)/rviz/diff_drive.rviz" />
</launch>